# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
build/
.vscode/

workspace.code-workspace

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.OBJ
